In [3]:
import pandas as pd
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
                  index=['cobra', 'viper', 'sidewinder'],
                  columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [4]:
df.loc['viper'] # 根据行索引返回一行

max_speed    4
shield       5
Name: viper, dtype: int64

In [5]:
df.loc[['viper', 'sidewinder']] # 返回dateframe

            max_speed  shield
viper               4       5
sidewinder          7       8

In [6]:
df.loc['cobra', 'shield']

2

In [7]:
df.loc['cobra':'viper', 'max_speed'] # 索引

cobra    1
viper    4
Name: max_speed, dtype: int64

In [9]:
 df.loc[[False, False, True]] # 不取第一行，不取第二行，取第三行

            max_speed  shield
sidewinder          7       8

In [13]:
print(df['shield'] > 6)
df.loc[df['shield'] > 6]

cobra         False
viper         False
sidewinder     True
Name: shield, dtype: bool

            max_speed  shield
sidewinder          7       8

In [14]:
df.loc[df['shield'] > 6, ['max_speed']]

            max_speed
sidewinder          7

In [15]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

In [16]:
df.loc[lambda df: df['shield'] == 8]

            max_speed  shield
sidewinder          7       8

In [18]:
# 赋值
df.loc[['viper', 'sidewinder'], ['shield']] = 50
df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

In [20]:
df.loc['cobra'] = 10
df

            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

In [21]:
df.loc[:, 'max_speed'] = 30
df

            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

In [22]:
df.loc[df['shield'] > 35] = 0

In [23]:
df

            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0