## 1 数据

In [1]:
import pandas as pd

In [4]:
left_dataframe=pd.DataFrame({'ID':[1,2,3,4],'left_side':['LEFT','LEFT','LEFT','LEFT']})
left_dataframe

   ID left_side
0   1      LEFT
1   2      LEFT
2   3      LEFT
3   4      LEFT

In [5]:
right_dataframe=pd.DataFrame({'ID':[3,4,5,6],'left_side':['RIGHT','RIGHT','RIGHT','RIGHT']})
right_dataframe

   ID left_side
0   3     RIGHT
1   4     RIGHT
2   5     RIGHT
3   6     RIGHT

`pd.merge(left_dataframe, right_dataframe, on="some_column", how="left|right|inner|outer)`

## 2 Left Merge
![](https://imgur.com/hGg40Po.jpg)

In [6]:
pd.merge(left_dataframe,right_dataframe,on='ID',how='left')

   ID left_side_x left_side_y
0   1        LEFT         NaN
1   2        LEFT         NaN
2   3        LEFT       RIGHT
3   4        LEFT       RIGHT

## 3 Right Merge
![](https://imgur.com/GDfbxmT.jpgg)

In [7]:
pd.merge(left_dataframe,right_dataframe,on='ID',how='right')

   ID left_side_x left_side_y
0   3        LEFT       RIGHT
1   4        LEFT       RIGHT
2   5         NaN       RIGHT
3   6         NaN       RIGHT

## 4 Inner Merge
![](https://imgur.com/juL2H0R.jpg)

In [8]:
pd.merge(left=left_dataframe, right=right_dataframe, on="ID", how="inner")

   ID left_side_x left_side_y
0   3        LEFT       RIGHT
1   4        LEFT       RIGHT

## 5 Outer Merge
![](https://imgur.com/NZqgFf1.jpg)

In [9]:
pd.merge(left=left_dataframe, right=right_dataframe, on="ID", how="outer")

   ID left_side_x left_side_y
0   1        LEFT         NaN
1   2        LEFT         NaN
2   3        LEFT       RIGHT
3   4        LEFT       RIGHT
4   5         NaN       RIGHT
5   6         NaN       RIGHT

https://www.kaggle.com/crawford/python-merge-tutorial/notebook